.classnavigators {
    display: flex;
    width: auto;
    height: 80px;
}

.navitems {
    margin: auto;
    border-radius: 12px;
    flex-direction: row;
    height: 50px;
    display: flex;
}

.navicon {
    color: white;
    margin: auto;
}
.navitems div {
    margin: auto;
}

.addspace {
    padding-left: 30px;
    display: inline-block;
}

.infobtn {
    margin-right: 30px;
    padding-right: 30px;
}